
body
{
    
   background-image: url("../imagenes/imagenes/fondo.jpeg");
   background-size: cover;
   background-repeat: none;

}









header{

    font-family: 'Bricolage Grotesque', sans-serif;
    text-align: center;

}
.carrusel-viandas{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    
}


/*----------------------------*/ 

/* fotos*/
