
/*----------index.html--------*/




    








/*-------nosotros--------*/

body
{
    
   background-image: url("../../imagenes/imagenes/fondo.jpeg");
   background-size: cover;
   background-repeat: none;

}


main {
    font-family: 'Bricolage Grotesque', sans-serif;
    
    text-align: justify;
    font-size: 25px;
    transition: 0;
    

    }
    main:hover {
        transform: scale(1.1);

    }


/*----------promociones--------*/
h1{
    font-family: 'Bricolage Grotesque', sans-serif;
    border-radius: 500px;

}
body {
   
    font-family: 'Bricolage Grotesque', sans-serif;
   
    
    margin: 0;
    padding: 0;
}
header, footer {
   

    text-align: center;
    padding: 100px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.vianda {
    margin: 10px;
    
    padding: 10px;
    max-width: 250px;
}
img {
    border-radius: 100px;
    max-width: 100%;
    height: auto;
    transition: 0.5s;
}
img:hover{
    transform: scale(1.2);
}

/* -------fotos-----*/


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 50px;
}
header, footer {
   
   
    text-align: center;
    padding: 10px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

img {
    border-radius: 25px;
    max-width: 100%;
    height: auto;


    
    
}
/*------contacto------*/

.formulario {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    margin: 0 auto;
}

.formulario label {
    width: 100px;
}

.formulario input,
.formulario textarea {
    width: 100%;
}